/* Import of Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&family=Ubuntu:wght@300&display=swap");

/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #abc4aa;
  /* Setting the root font of the page, and font-size to use rem. Black as color. */
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  color: #000000;
}

/* Universal Link designs. */
a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  cursor: pointer;
}

a:active {
  color: #4c453e;
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
  color: #675d50;
}

a:visited {
  color: #675d50;
}

/* Making sure all different sized headings except h1 use the same kind of Font. */
h2,
h3,
h4,
h5,
h6 {
  font-family: "Indie Flower", cursive;
}

/* Header Section of CSS */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: sticky;
  top: 0px;
  height: 90px;

  background-color: rgba(171, 196, 170, 0.9);
  z-index: 9999;
}

/* Navigation Styles! */
header ul {
  display: flex;
}

/* Navigation List designs */
header li {
  list-style: none;
  margin-left: 15px;
  font-size: 1.2rem;
}

/* Hero Section */

.hero {
  height: 70vh;
  width: 100%;
  background: url("/assets/images/choban-hero.jpg") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

/* About Section */

.img__txt__about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px 0px 100px 0px;
}

.img__txt__about img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  /* border: solid 1px #000000; */
  margin: 40px;
}

.img__txt__about p {
  height: 40%;
  width: 40%;
  background-color: rgba(243, 222, 186, 0.2);
  padding: 40px;
  /* border: solid 1px rgb(169, 144, 126); */
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* Unified Color to use for Fontawesome icons */
.pimp__icon {
  color: green;
  margin-left: 10px;
}

/* Inspiration Section! */

#inspiration {
  background-color: #a9907e;
  color: #000000;
}

.inspired {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.inspired__text {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-shadow: #abc4aa 0px 0px 10px;
  font-weight: 900;
}
.inspired__text h2 {
  text-decoration: underline;
  margin-bottom: 6px;
}
.videos {
  width: 560px;
  height: 315px;
  margin: 100px 0px 100px 0px;
  border-radius: 10%;
}

/* Permaculture section */
#permaculture {
  background-color: #f3deba;
  padding: 100px 0px 100px 0px;
}
.perma__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.perma__container p {
  width: 40%;
  padding: 10px;
}

/* Gallery Section */
#gallery {
  padding: 100px 0px 100px 0px;
}

.galtainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galtainer img {
  margin: 10px;
}

/* Form Section */

#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/assets/images/newsletter.png") no-repeat right center;
  background-color: #a9907e;
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.form__design input {
  background-color: #abc4aa;
  border-radius: 15px;
  padding: 15px;
  width: 300px;
  font-size: 1.3rem;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.form__design button {
  background-color: #abc4aa;
  border-radius: 15px;
  padding: 15px;
  font-size: 1.2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.form__design button:hover {
  background-color: #675d50;
}

/* Footer */
.social {
  display: flex;
  color: #4c453e;
}
